﻿ruby.panlatinAnnotation > rt {
    font-size: 100%;
}

.panlatinAnnotation {
    position: relative;
}

.panlatinDetail {
    position: absolute;
    top: 20px;
    left: 0;
    padding: 10px;
    color:black;
    opacity:1;
    z-index: 2;
    text-align: left;
    min-width: 30%;
}

.panlatinPlain {
}

.panlatinLight {
    background-color: lightyellow;
    color: black;
}
.panlatinDark  {
    background-color: black;
    color: white;
}

.panlatinUnknown {
    background-color: yellow;
    color: black;
}
