/* extension.css
*/

body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    min-width: 150px;
}
body.popup {
   width:250px;
}
input.langAbbr {
   width:50px; 
}
span.clickable {
    background-color: lightgrey;
    cursor: pointer;
}
span.current {
    font-weight: bold;
}
span.value {
    font-style: italic;
    background-color: lightgrey;
    cursor: pointer;
}
span.valueOn {
    font-weight: bold;
    background-color: lightgrey;
    cursor: pointer;
}
table{
    border-collapse:collapse;
    border:1px solid black;
}
table td{
    border:1px solid black;
}
.centered {
    text-align: center;    
}
.min-width-50px {
    min-width: 50px
}
.with-border {
    outline-width: 0; 
    min-height: 1em; 
    line-height: 1em; 
    overflow-y: scroll; 
    margin: 5px;
    padding: 5px; 
    border: 1px solid;
}
.with-next {
    margin-bottom: 0px;
}